@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Prompt:wght@200;300;400&display=swap');
body
{
    height: 100vh;
    background:#306953;
    background-image: linear-gradient(180deg, rgba(6, 81, 109, 0.81) 0%, rgba(148, 192, 186, 1) 100%);
    background: linear-gradient(180deg, rgba(6, 81, 109, 0.81) 0%, rgba(148, 192, 186, 1) 100%);

}

.cardlogin{  
    align-items: center;
    display: -webkit-box;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    justify-content: center;
}

.img-fluid {
    height: 100% !important;
}

.btn-outline-secondary{
border-radius: 0.2rem ;
}


.welcome{
    font-family: 'Kanit', sans-serif;
    text-shadow: rgb(146, 145, 145) 0.1em 0.1em 0.2em;
}
.beetwee{
    font-family: 'Kanit', sans-serif;
  
}
.adminfont{
    font-family: 'Prompt', sans-serif;
    text-align: center;
    
}
.input-height{
    height: 48px;
}

/* icon input */

.inputWithIcon
{
    position: relative;
}

.inputWithIcon i {
    position: absolute;
    left: 0px;
    top: 3px ;
    padding: 10px 10px;
    margin-left: 0px;
    font-size: 20px;
}

