.nav-tabs {
     border-bottom: 0px solid #fff !important; 
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #fff #fff #fff;
}

.report-name{
    font-family: 'Prompt', sans-serif;
}
.table-name-report{
    font-family: 'Prompt', sans-serif;
}

