.pagination-container {
    display: flex;
    list-style-type: none;
  
    
    }
  
    .pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 0;
      list-style: none;
      border-radius: 0.25rem; 
    }